:root {
    --lavender: ##EAE8FF;
    --lightgray: #D8D5DB;
    --coolgray: #8693AB;
    --midgray: ##ADACB5;
    --darkgray: ##2D3142;
    --lightblue: ##B0D7FF;
    --cadet: #637074;
    --charcoal: #212227;
}
.avatar{
    size: 10px;
}
.background {
    background-color: var(--charcoal);
}

.main {
    /* min-height: 100%; */
    background-color: rgb(32, 32, 139);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1 0 auto;
    color: rgb(179, 153, 217);
    font-family: 'Roboto', sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 20px;
    padding: 20px;
    gap: 20px;
    font-size: 18px;
    color: aliceblue;

}

.about {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    flex: 0 0 200px;
    padding: 40px;
}

#logo {
    display: flex;
    margin-right: auto;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

input[type] {
    border: none;
    color: #212227;
    border-bottom: 2px solid rgb(19, 6, 57);
  }


.form {
    background-color: var(--coolgray);
    size: 50px;
}

.form-control {
    background-color: #212227;
}

.input {
    background-color: #D8D5DB;
}

.container {
    background-color: var(white);

}

.footer {
    color: var(--lightgray);
    background-color: var(--coolgray);
    grid-row-start: 2;
    grid-row-end: 3;

}

.resume {
    margin: 50px;
    padding: 50px;
}